.SpecialsCard {
  background-color: var(--neutral-color-1);
  margin: 0.2rem;
  width: 30%;
  min-width: 280px;
  display: grid;
  grid-auto-flow: row;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.2fr 1fr 0.1fr;
  border-radius: 16px 16px 0 0;
  grid-template-areas:
    "photo photo"
    "name price"
    "desc desc"
    "deli deli"
  ;
}

.SpecialsCard img {
  border-radius: 16px 16px 0 0;
  grid-area: photo;
  width: 100%;
}

.SpecialsCard h3 {
  padding: 0.3rem;
  grid-area: name;
  display: flex;
  justify-content: flex-start;
}

.SpecialsCard h4 {
  padding: 0.3rem;
  grid-area: price;
  display: flex;
  justify-content: flex-end;
}

#desc {
  padding: 0.3rem;
  grid-area: desc;
}

#delivery {
  padding: 0.3rem;
  grid-area: deli;
}