/* Define your color palette */
:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --neutral-color-1: #EDEFEE;
  --neutral-color-2: #333;
  --text-color: #333;
  --white-color: #fff;
  --black-color: #000;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* padding-left: 300px;
  padding-right: 300px; */
  width: 100%;
  max-width: 1440px;
  height: 450px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
  "head nav nav"
  "main main main"
  "foot foot foot";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  grid-area: head;
  background-color: var(--neutral-color-1);
}

header>img {
  max-width: 25%;
}


nav {
  grid-area: nav;
  color: white;
  background-color: var(--neutral-color-2);
}
nav menu {
  text-decoration: none;
}

main {
  grid-area: main;
  background-color: var(--white-color);
}

#hero {
  grid-area: hero;
  background-color: var(--primary-color-1);
}

#hero h1 {
color: var(--primary-color-2)
}
#hero p {
color: var(--neutral-color-1)
}

#specials {
  grid-area: specials;
  background-color: var(--secondary-color-1);
}
#testimonials {
  grid-area: testimonials;
  background-color: var(--secondary-color-2);
}

#about {
  grid-area: about;
  background-color: var(--secondary-color-1);
}

footer {
  grid-area: foot;
  font-size: 10px;
  color: var(--text-color);
  background-color: var(--neutral-color-1);
}

footer img {
  margin: 10px;
  align-items: center;
}

footer > div {
  display: flex;
  align-items: right;
  text-decoration: none;
}