/* Define your color palette */
:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --neutral-color-1: #EDEFEE;
  --neutral-color-2: #333;
  --text-color: #333;
  --white-color: #fff;
  --black-color: #000;
}


#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-gap: 0em;
  grid-template-areas:
    "head nav nav"
    "hero hero hero"
    "specials specials specials"
    "testimonials testimonials testimonials"
    "about about about"
    "booking booking booking"
    "order order order"
    "confirmed confirmed confirmed"
    "foot foot foot";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-family: Markazi Text, serif;
}

p {
  font-family: Karla, sans-serif;
}

button {
  background-color: var(--primary-color-2);
  border: none;
  max-width: 14rem;
  border-radius: 8px;
  color: var(--text-color);
  font-family: Karla, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  outline: none;
  padding: 10px;
}

button:hover {
  background-color: var(--neutral-color-2);
  color: var(--white-color);
  filter: drop-shadow(8px 8px 12px var(--neutral-color-2))
}

header {
  grid-area: head;
  background-color: var(--neutral-color-1);
  display: flex;
  justify-content: flex-start;
  padding: 0.2rem;
}

header img {
  width: 10em;
}

nav {
  grid-area: nav;
  color: var(--text-color);
  background-color: var(--neutral-color-1);
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  gap: 1em;
  font-size: small;
  font-weight: bold;
  padding: 0;
  margin: 2% 0 2% 0;
}

nav menu li:hover {
  color: var(--primary-color-1);
}

#hero {
  grid-area: hero;
  background-color: var(--primary-color-1);
}

#hero-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2% 10%;
  gap: 1rem;
}

#hero-img {
  display: flex;
  justify-content: flex-end;
}

#hero-img img {
  position: relative;
  left: -5%;
  top: 16%;
  border-radius: 16px;
  object-fit: cover;
  object-position: 0% 60%;
  min-width: 14rem;
  width: 18rem;
  height: 18rem;
  min-height: 16rem;
  justify-self: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

#hero-text {
  display: flex;
  flex-direction: column;
}

#hero-text h1 {
  color: var(--primary-color-2);
  font-size: 3rem;
}

#hero-text h2 {
  color: var(--white-color);
  font-size: 2rem;
}

#hero-text p {
  color: var(--neutral-color-1);
  margin: 2% 0 4% 0;
  max-width: 20rem;
}

#specials {
  margin: 4% 10% 2% 10%;
  grid-area: specials;
  background-color: var(--white-color);
}

#specials #header {
  margin: 0 0 2% 0;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 1rem;
}

#specials #cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#testimonials {
  grid-area: testimonials;
  background-color: var(--secondary-color-2);
  text-align: center;
}

#testimonials #cards {
  padding: 5rem;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

#about {
  grid-area: about;
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2% 10%;
  gap: 1rem;
}

#text p {
  margin: 2% 0 4% 0;
  max-width: 20rem;
}

#photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#photos img {
  border-radius: 16px;
  object-fit: cover;
  object-position: 80%;
  width: 12rem;
  height: 22rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

#photos img:nth-child(2) {
  left: -5%;
  position: relative;
  top: -5%;
}

footer {
  grid-area: foot;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--neutral-color-1);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-areas:
    "foot-img foot-content foot-content";
  gap: 0em;
}

footer img {
  grid-area: foot-img;
  margin: 2%;
  align-items: center;
}

footer>div {
  grid-area: foot-content;
  margin: 2%;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1em;
  align-items: stretch;
  justify-content: space-between;
  text-decoration: none;
}

.booking-page {
  grid-area: booking;
  background-image: url("../public/images/restaurant-outdoor.jpg");
  background-color: var(--primary-color-1);
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
}

.booking-page #title {
  display: flex;
  justify-content: flex-start;
}

.booking-page .form-container {
  background-color: rgba(73, 94, 87, .9);
  border-radius: 16px;
  width: max(345px, 30%);
  margin: auto;
  padding: 1rem;
  font-family: Karla, sans-serif;
}

.booking-page form {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  font-size: large;
}

.booking-page form > div {
  display: flex;
  flex-direction: column;
}

.booking-page label::after {
  content: "*";
  color: red;
}

.booking-page label {
  margin-top: 3%;
}

.booking-page input, select {
  background-color: var(--white-color);
  border: 1px solid var(--neutral-color-1);
  border-radius: 8px;
  min-height: 1.5rem;
  transition: .32s ease;
  text-align: center;
  font-size: large;
  font-family: Karla, sans-serif;
}

.booking-page input[type="submit"] {
  align-self: center;
  background-color: var(--primary-color-2);
  border: none;
  max-width: 16rem;
  border-radius: 8px;
  color: var(--text-color);
  font-family: Karla, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  outline: none;
  padding: 10px;
  margin-top: 15%;
}

.booking-page input[type="submit"]:hover {
  background-color: var(--neutral-color-2);
  color: var(--white-color);
  filter: drop-shadow(8px 8px 12px var(--neutral-color-2))
}

.booking-page input[type="submit"]:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: var(--neutral-color-1);
}

.order-online {
  grid-area: order;
  background-color: var(--primary-color-1);
  height: 300px;
}


.order-online-container {
  margin: 2% 10%;
  color: var(--white-color);
}

.confirmed-booking {
  grid-area: confirmed;
  background-image: url("../public/images/restaurant-book-table.webp");
  background-color: var(--primary-color-1);
  height: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
}

.confirmed-booking .confirmed-booking-container {
  background-color: rgba(73, 94, 87, .9);
  border-radius: 16px;
  width: max(345px, 30%);
  height: 60%;
  margin: auto;
  padding: 1rem;
  color: var(--white-color);
  text-align: center;
}
/* Responsive Styles */
@media screen and (max-width: 1280px) {

  #root {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    grid-template-areas:
      "head head head"
      "nav nav nav"
      "hero hero hero"
      "specials specials specials"
      "testimonials testimonials testimonials"
      "about about about"
      "booking booking booking"
      "order order order"
      "confirmed confirmed confirmed"
      "foot foot foot";
  }

  header {
    justify-content: center;
  }

  nav menu {
    font-size: large;
    gap: 2rem
  }

  #hero-img img {
    max-height: 16rem;
  }

  #hero-img img {
    left: 0;
    top: 0;
    border-radius: 16px;
    object-fit: cover;
    object-position: 0% 60%;
    max-width: 18rem;
    width: 100%;
    height: 66%;
    justify-self: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  }

  #photos img {
    object-fit: cover;
    object-position: 75%;
    max-width: 10rem;
  }

}